src/MVFC.Apigee.Studio.Infrastructure/Schemas/VerifyAPIKey.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
  <xs:element name="VerifyAPIKey" type="verifyAPIKeyBean"/>
  <xs:complexType name="stepDefinitionBean" abstract="true">
    <xs:sequence>
      <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="async" type="xs:string"/>
    <xs:attribute name="continueOnError" type="xs:string"/>
    <xs:attribute name="enabled" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="propertyBean">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ref" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="verifyAPIKeyBean">
    <xs:complexContent>
      <xs:extension base="stepDefinitionBean">
        <xs:sequence>
          <xs:element name="APIKey" type="propertyBean" minOccurs="0"/>
          <xs:element name="OAuthConfig" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
